@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
main {
    max-height: 600px;
    max-width: 300px;
    padding-top: 100px;
    text-align: center;
    background-color: rgb(21, 21, 216);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , 20%);
    box-shadow: rgba(46, 59, 240, 0.4) -5px 5px, rgba(46, 82, 240, 0.425) -10px 10px, rgba(46, 59, 240, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(49, 46, 240, 0.05) -25px 25px;
    border: 2px solid black;
}
h1{
    padding: 0 10px 15px 10px;
    
}
.input{
    text-align: left;
    
}
.input > .peso {
    
    padding: 10px 0 10px 13px ;
}
.calcular{
    padding-bottom: 10px;
 
}
.calcular > input {
    background-color: rgb(65, 65, 255);
    font-weight: bolder;
    cursor: pointer;
}
.calcular > input:hover{
    background-color: black;
    color: rgb(65, 65, 255);
    transition: 1s;
    padding: 7px;
}
main > textarea{
    text-align: justify;
    font-weight: bold;
}